doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width = device-width, initial-scale = 1')
    title Dashboard
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto|Josefin+Sans|Droid+Sans|Pontano+Sans|Ubuntu|Montserrat')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-left.navbar-brand-logo(href='index.html')
          img.img-responsive.stop-sign(src='img/stop-sign.png')
        |
        a.navbar-brand(href='index.html') Sexual Harassment - Analytics
    h1.header-title Dashboard
    p.company-name Company Name
    .row.preview-stats
      .col-xs-6.col-md-3
        .panel.panel-blue
          .row
            .col-sm-3
              i.fa.fa-envelope-o.fa-3x.icon-status
            .col-sm-9
              h2.msg 2187
              p Messages Analyzed
      .col-xs-6.col-md-3
        .panel.panel-red
          .row
            .col-sm-3
              i.fa.fa-envelope-o.fa-3x.icon-status
            .col-sm-9
              h2.msg-flag 33
              p Redflagged Messages
      .col-xs-6.col-md-3
        .panel.panel-green
          .row
            .col-sm-3
              i.fa.fa-users.fa-3x.icon-status
            .col-sm-9
              h2.users 188
              p Users
      .col-xs-6.col-md-3
        .panel.panel-yellow
          .row
            .col-sm-3
              i.fa.fa-users.fa-3x.icon-status
            .col-sm-9
              h2.users-flag 7
              p Redflagged Users
    hr.thick-divide
    .top5.row
      .col-lg-5.user-redflag
          h3 Top 5 Most Reported Users
            table.table.table-striped
              thead
                tr
                  th User
                  th Times Reported
              tbody
                - for(var i = 0; i < reported.length; i+=3){
                  tr(class=reported[i])
                    td=reported[i]
                    td=reported[i + 2]
                - }
      .col-lg-7
        h3.chart-title Number of Red Flagged Messages in the Last 24 Hours
        canvas(id='myChart', style='', width='650', height='300')
    hr.thick-divide
    .row.misc
      .col-md-5.msg-inapp
        h3 Top 5 Individuals with Most Red Flags for Sexual Harassment*
        table.table.table-striped
          thead
            tr
              th Rank
              th Name
              th Red Flags
          tbody
            - for(var i = 0; i < data.length; i+=3){
            tr(id=data[i], class='select')
              td=i/2 + 1
              td=data[i]
              td=data[i + 2]
            - }
      .col-md-7.user-report
        h3 Top 5 Harassment Messages for user
            span(id='user')
        table.table.table-striped
          thead
            tr
              th Message
              th Harassment Rating
          tbody
              - for(var i = 0; i < messages.length; i+=3){
                tr(class='u' + messages[i] + ' toggle', style="display: none;")
                  td=messages[i + 1]
                  td=messages[i + 2]
              - }
          tbody

    footer.footnotes
      .footnote
        | Created by Jayendra Jog, Jerry Li, Andy Shih, and Kyle Wong.
        b
          i #HackHarassment
      p.footnote2
        | *Data will most certainly represent some false positives due to the sensitivity of the Machine Learning Algorithm. It is better to have false positives than to have potential sexual harassment related attacks not redflagged to users.
    script(src='js/chart.min.js')
    script(src='js/script.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")